LUNA_ROUTING_CONTROLLER_PORT=8096
LUNA_ROUTING_CONTROLLER_HMAC_KEY=replace-with-at-least-32-bytes
LUNA_ROUTING_INGRESS_PROOF_KEY=replace-with-at-least-32-bytes
LUNA_ROUTING_INGRESS_PROOF_URL=https://127.0.0.1/proof
LUNA_ROUTING_TLS_CERT=/etc/luna-routing/tls/controller.crt
LUNA_ROUTING_TLS_KEY=/etc/luna-routing/tls/controller.key
